@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg');
}

.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}

#dogeHouse {
  width: 95%;
  height: 300px;
  border: 2px solid #ccc;
  padding: 10px;
}

h3,
label,
p {
  background-color: white;
}

h3 {
  color: green;
  /*   font-family: "Roboto", sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.card {
  margin-top: 1rem;
}

h4{
  font-family: cursive, Lucida;
}

